body {
  color: #0B0C11;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 36px;
  text-align: center;
  font-family: chippewa-falls, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ac3b61;
}

h2 {
  font-family: coquette, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.blue {
  color: #123c69;
}

p {
  font-size: 16px;
}

.page1 {
  background: #EDC7B7;
}

.page2 {
  background: #eee2dc;
}

.page3 {
  background: #bab2b5;
}

.page4 {
  background: #EDC7B7;
}

.page5 {
  /* background: #ac3b61; */
  background: #eee2dc;
}

.page6 {
  background: #bab2b5;
}