body {
  color: #0B0C11;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 36px;
  text-align: center;
  font-family: chippewa-falls, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ac3b61;
}

h2 {
  font-family: coquette, sans-serif;
  font-weight: 300;
  font-style: normal;
}

img {
  border-radius: 4px;
  box-shadow: 1vw 1vw 0 rgba(0,0,0,0.15);
}

.blue {
  color: #123c69;
}

p {
  font-size: 16px;
}

.color1 {
  background: #EDC7B7;
}

.color2 {
  background: #eee2dc;
}

.color3 {
  background: #bab2b5;
}

.contribute-button {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  border: none;
  border-radius: 4px;
  outline: none;
  background: linear-gradient(45deg,#d350db,teal,#d350db);
  background-size: 400% 400%;
  box-shadow: 1vw 1vw 0 lightcoral;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contribute-button:hover {
  animation: gradient 10s ease infinite;
  box-shadow: 0.2vw 0.2vw 0 lightcoral;
}

